<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
      
    <title>Story 7</title>
</head>

<body>

        <h1 style="margin-bottom: 50px; margin-top: 50px;">Story 7 kuy</h1>
        <div class="wrapper">
          <ul class="parent_accordion" style="list-style: none;">
              <li class="sibling">
                <button onclick="kebawah()" name="button2a" style="margin-right: 150px;margin-bottom: 10px;">DOWN</button>
                <button onclick="keatas()" name="button2b" style="margin-left: 150px;">UP</button>
                <div class="accordion" style="margin-bottom: 50px;">
                  <div class="accordion_tab">
                      Biodata
                  </div>
                  <div class="accordion_content">
                    <div class="accordion_item">
                      <p class="item_title biodata">Raja Sihombing</p>
                      <p class="biodata" style="color: white;">Status: Mahasiswa</p>
                      <p class="biodata" style="color: white;">Lahir: Jakarta, 26 Desember 2000</p>
                    </div>
                  </div>
                  
              </li>
          
            <li class="sibling">
              <button onclick="kebawah()" name="button2a" style="margin-right: 150px;margin-bottom: 10px;">DOWN</button>
              <button onclick="keatas()" name="button2b" style="margin-left: 150px;">UP</button>
              <div class="accordion" style="margin-bottom: 50px;">
                <div class="accordion_tab">
                    Kesibukan
                </div>
                <div class="accordion_content">
                  <div class="accordion_item">
                    <p class="item_title">Kuliah</p>
                    <p class="item_title">COMPFEST</p>
                    <p class="item_title">Bertahan Hidup</p>
                    <p class="item_title"></p>
                  </div>
              </div>
            </li>

            <li class="sibling">
              <button onclick="kebawah()" name="button3a" style="margin-right: 150px;margin-bottom: 10px;">DOWN</button>
              <button onclick="keatas()" name="button3b" style="margin-left: 150px;">UP</button>
              <div class="accordion" style="margin-bottom: 50px;">
                <div class="accordion_tab">
                    Favorite Game
                </div>
                <div class="accordion_content">
                    <div class="accordion_item">
                      <p class="item_title">Halo 3</p>
                      <p class="item_title">Halo 3: ODST</p>
                      <p class="item_title">Halo REACH</p>
                      <p class="item_title">Halo 4</p>
                      <p class="item_title">Halo Wars</p>
                      <p class="item_title"></p>
                    </div>
                </div>
              </div>
            </li>
          
          </ul>
        
    
    
   
    <script src=" {% static 'func.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
