
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  margin: 20px;
  background: #f4f4f6;
  text-align:center;
  width:995px;
  margin:0 auto;
  padding:0px;
  
    
}

button {
    background-color: #f4f4f6;
    border: none;
}

button:active {
    background-color: #f4f4f6;
    box-shadow: 0 5px #f4f4f6;
    transform: translateY(4px);
  }
button img {
    max-width: 40%;
}

.accordion{
    width: 500px;
    height: 60px;
    margin: 0 auto;
    background: rgb(17, 168, 255);
    border-radius: 3px;
    box-shadow: 0 0 5px rgb(204, 253, 255);
    overflow: hidden;
    transition: height 0.6s ease;
    margin-bottom: 20px;
}

.accordion .accordion_tab{
  padding: 20px;
  cursor: pointer;
  user-select: none;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
}

.accordion .accordion_tab .accordion_arrow{
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  right: 20px;
  width: 15px;
  height: 15px;
  transition: all 0.3s ease;
}

.accordion .accordion_tab .accordion_arrow img{
  width: 100%;
  height: 100%;
}

.accordion .accordion_tab.active .accordion_arrow{
  transform: translateY(-50%) rotate(180deg);
}

.accordion.active{
  height: 320px;
}

.accordion .accordion_content{
  padding: 20px;
  border-top: 1px solid #e9e9e9;
}

.accordion .accordion_content .accordion_item{
  margin-bottom: 20px;
}

.accordion .accordion_content .accordion_item p.item_title{
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 18px;
  color: white;
}

.accordion .accordion_content .accordion_item p:last-child{
  color: #9a9b9f;
  font-size: 14px;
  line-height: 20px;
}



#gifs-rows img {
    cursor: pointer;
  }
#gifs-rows .gif-file {
    display:none;
  }
